<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>uhSense</title>
    
    <meta name="description" content="JavaScript, NodeJS and HTML5 engineer helping build a better web.">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link href="//plus.google.com/+suneeshtr" rel="author">
    <link href="css/style.min.css" rel="stylesheet">
  </head>
<body>
<div class="abtmebar">
	<div class="abtme">
        <a href="/">
          <img src="img/mine.jpg" alt="Suneesh Rajan" class="abtme-img">
        </a>
        <h1 class="abtme-name">Suneesh Rajan</h1>
        <div class="abtme-bio">
          <p>
            Software Consultant at <a href="http://refapp.co/?utm_source=uhsense.com" target="_blank">Ref.</a><br>
            JavaScript, NodeJs.<br>Open source evangelist.
          </p>
        </div>
        
        <nav class="abtme-nav">
          <ul>
            <li>
              <a href="/">
                Posts
              </a>
            </li><!--
            --><li>
              <a href="/about">
                About
              </a>
            </li><!--
            --><li>
              <a href="//github.com/suneeshtr">
                GitHub
              </a>
            </li>
          </ul>
        </nav>
    </div>
</div>
</body>
</html>